*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 450px;
    color:#fff;
    margin: 100px auto;
    border-radius: 20px;
    padding:45px 35px;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);

}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    color:#555;
    padding:10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 17px;
}
.search button{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width:50px;
    height:50px;
    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}

.search button img{
    width:16px;
}
.weather-icon{
    width:170px;
    margin: 30px auto;
    display: block;
}
.weather .temp{
    font-size: 80px;
    font-weight: 500;
}

.weather .city{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;

}
.weather {
    display: block;

}
.error{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    display: none;  


}

